/* For My Portfolio website I'm following Desktop-First approuch */
* {
  box-sizing: border-box;
}
body {
  background-color: rgba(252, 237, 237, 0.9);
  font-family: "Quicksand", sans-serif;
}

.bar {
  background-color: rgba(252, 162, 17, 0.8);
  font-size: 1.25rem;
  width: 100%;
  height: 2.5em;
  margin: 0 auto;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
  box-shadow: 0 0 0.6em rgba(0, 47, 73, 0.5);
  transition: all 0.3s ease-in-out;
}

.bar:hover {
  box-shadow: 0 0 0.6em rgba(15, 77, 92, 0.8);
}

.logo {
  border-radius: 10%;
  transition: all 0.2s ease-out;
}

.logo:hover {
  box-shadow: 0 0 0.6em rgba(154, 3, 31, 0.486);
}

.logo img {
  width: 2.2em;
  height: auto;
  border-radius: 5%;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.list a {
  text-decoration: none;
  color: #1d3557;
  padding: 0.5em;
  display: inline-block;
}

.list a:hover {
  color: #15616d;
  transform: translate(0, -0.1em);
}

/* Adding style to the dropdown menu content. The dropdown menu is hidden by default (display: none) and will only be displayed when the user hover over the dropdown button. */

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2em;
  background-color: rgba(119, 141, 169, 0.9);
  min-width: 15em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #fca211;
  padding: 0.75em 1em;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Used (https://www.w3schools.com/howto/howto_css_searchbar.asp) as a tutorial guide.*/
#search {
  float: left;
  background-color: #ddd;
  outline: none;
  border: none;
  padding: 0.5em;
  border-right: 0.2em solid #415a77;
}

#search::placeholder {
  color: #415a77;
  font-size: 1rem;
}

#submit {
  float: right;
  padding: 0.3em 0.5em;
  background: #ddd;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#submit:hover {
  color: rgba(234, 46, 73, 0.9);
  box-shadow: 0.1em 0 0.3em 0 rgba(0, 47, 73, 0.5);
}

/*Used (https://www.w3schools.com/css/css3_flexbox_container.asp) as the tutorial guide*/
/* Used (https://www.w3schools.com/css/css_background_image.asp) as the tutorial guide */
/* Used (https://www.w3schools.com/css/css_boxmodel.asp) as the tutorial guide */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../images/hero.jpg") no-repeat center center/cover;
  padding: 2em 0;
  margin-top: 0.5em;
}

#hero-pic {
  width: 100%;
  height: auto;
}

.hero h1,
.hero h2,
.hero p {
  color: #fff;
  text-align: center;
  padding: 0.2em 0;
}

.hero h1 {
  font-size: 3em;
}

/* By using the pseudo element ::after, I was able to add my last name to the hero title */
.hero h1::after {
  content: " Ashrafipour";
  font-family: "Bungee Spice", cursive;
}

.hero h2 {
  font-size: 2rem;
  letter-spacing: 0.5em;
  font-weight: bold;
  margin-left: 0.5em;
}

.hero p {
  font-size: 1.2rem;
}

.hero div {
  margin-top: 2em;
}

/* styling the anchor tag inside the hero div as a button which will be used to navigate to the GitHub Repo*/
.hero a {
  text-decoration: none;
  color: #fff;
  background-color: #1d3557;
  padding: 0.5em 1em;
  border-radius: 3.1em;
}

.hero a:hover {
  color: #ff7d00;
}

::selection {
  background-color: rgba(252, 162, 17, 0.8);
  color: #fff;
}

.main-content {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  margin: 15% auto 0 auto;
  background-color: rgba(119, 196, 211, 0.9);
}

.bio {
  width: 90%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 10% 0 5% 15%;
  background-color: rgba(246, 247, 146, 0.7);
}

#my-pic {
  width: 25%;
  height: auto;
  opacity: 0.8;
  margin: 3%;
  border-radius: 5%;
  float: right;
}

.bio h3 {
  display: inline-block;
  font-size: 2rem;
  margin: 5% 5% 2% 5%;
  color: #1d3557;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.bio p {
  font-size: 1.5rem;
  margin: 2% 5% 5% 5%;
  color: #1d3557;
  line-height: 1.7;
  letter-spacing: 0.1em;
}

span {
  font-weight: bold;
  color: #415a77;
}

.cards-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  /* Todo add style to the container */
}

/* Embeding containers inside the main container. */
.cards,
.main-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(69, 123, 157, 0.3);
  border: none;
  transition: border-top 0.1s ease-in-out, border-right 0.1s ease-in-out 0.2s,
    border-bottom 0.1s ease-in-out 0.2s, border-left 0.1s ease-in-out 0.2s;
}

/* I'm trying to add a transition(which will be activated by hovering) to the border of the. I want each border to appear one after another*/
/* Used (https://www.w3schools.com/css/css3_transitions.asp) as a tutorial guide */
.cards:hover,
.main-card:hover {
  box-shadow: 0 0 10px rgba(15, 77, 92, 0.8);
  border-top: 2px solid #457b9d;
  border-right: 2px solid #457b9d;
  border-bottom: 2px solid #457b9d;
  border-left: 2px solid #457b9d;
}

.main-card {
  width: 30rem;
  height: auto;
  margin: 2% 20%;
  border-radius: 2em;
}

.cards {
  width: 20rem;
  height: auto;
  border-radius: 1em;
  margin: 2rem;
}

#app-main-font,
.app-font {
  display: inline-block;
  color: #780000;
  font-weight: bold;
}

#app-main-font {
  font-size: 2.5rem;
  margin: 5%;
}

.app-font {
  font-size: 1.5rem;
  margin: 4% 2% 0 2%;
}

#app-main-img {
  width: 70%;
  opacity: 0.9;
  margin: 2% 0 10% 15%;
  border-radius: 5%;
}

.app-img,
.app-img-last {
  opacity: 0.9;
  border-radius: 0.7em;
}

.app-img-last {
  width: 50%;
  height: auto;
  margin: 5% 25%;
}

.app-img {
  width: 80%;
  height: auto;
  margin: 5% 3% 3% 10%;
}

.contact-me {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 0 15% 3% 0;
  background-color: rgba(51, 55, 69, 0.8);
}

.contact-info {
  margin: 1%;
  color: rgba(249, 225, 225, 0.871);
}

.contact-me h3 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#contact-links {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 1% 0;
}

#contact-links a,
#contact-links span {
  text-decoration: none;
  font-size: 1.5rem;
}

/* Adding phone number after span inside the footer */
#contact-links span::after {
  content: " 647-448-1636";
  font-family: "Bungee Spice", cursive;
}

#copy-right {
  align-self: center;
  font-size: 1rem;
}

/* First break-point at 1280px */
@media only screen and (max-width: 1280px) {
  .main-card,
  .cards {
    height: auto;
    margin: 1rem;
    border-radius: 1rem;
  }

  .main-card {
    flex: 0 4 30%;
  }

  .cards {
    flex: 0 1 cal(70%/3);
  }

  #app-main-font {
    font-size: 1.8rem;
  }

  .app-font {
    font-size: 1.2rem;
  }
}

/* Sexond brake-point at 900px */
@media only screen and (max-width: 900px) {
  .bar,
  .hero p {
    font-size: 1rem;
  }

  #search {
    padding: 0.3em;
  }

  #search::placeholder {
    font-size: 0.8rem;
  }

  #submit {
    font-size: 0.85rem;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero h2,
  .bio h3,
  .contact-me h3 {
    font-size: 1.7rem;
  }

  .bio p,
  #contact-links a,
  #contact-links span {
    font-size: 1.2rem;
  }

  #app-main-font {
    font-size: 1.6rem;
  }

  #copy-right {
    font-size: 0.7rem;
  }
}

/* TODO: ToolTips + var + search input + add more style to contact links+ add containers and style them, in all sections.+ modify spans+modify contact me+responsive*/
